<!doctype html>
<html>
    <link rel="javascript" href="/myproject/static/script.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/myproject/static/script.js"></script>

    <h3>Add User:</h3>
    <p>
       <input type = "text" name = "username" id = "adduser_username">
       <input type = "text" name = "email" id = "adduser_email">
       <input type = "text" name = "password" id = "adduser_password">
       <input type = "submit" value = "submit" id = "adduser_button"/>
       <br>Results:</br>
       <ol id="adduser">
       </ol>
    </p>
    <br/>
    
</html>
