<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post tweet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
    function verify(){
        var email = $("#email").val();
        var key = $("#key").val();
        $.ajax({
            type: "POST",
            url: "/verify",
            contentType: "application/json",
            data: JSON.stringify({email: email, key: key}),
            success: function (result) {
                alert(result);
            }
        });
    }
    </script>
</head>
<body>
   <form action="javascript:verify();">
        <p> Email: </p>
        <input type="text" id="email"><br>
        <p> Key: </p>
        <input type="text" id="key"><br>
        <input type="submit" value="Verify">
   </form>
</body>
</html>
